.git
.next
node_modules
apps/*/.next
apps/*/generated
apps/*/src/generated
uploads
.env
.env.*
!.env.example
Dockerfile
docker-compose.yml
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
.DS_Store
tsconfig.tsbuildinfo
*.log
