.git
.next
node_modules
.pnpm-store
**/dist
apps/*/.next
apps/*/generated
apps/*/src/generated
.artifacts
apps/web/playwright-report
apps/web/test-results
uploads
.env
.env.*
Dockerfile
docker-compose.yml
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
.DS_Store
tsconfig.tsbuildinfo
*.log
