@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
}


#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #2563eb;
  height: 3px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}

#nprogress .peg {
  box-shadow: 0 0 10px #2563eb, 0 0 5px #2563eb;
  display: block;
  height: 100%;
  opacity: 1;
  position: absolute;
  right: 0;
  transform: rotate(3deg) translate(0, -4px);
  width: 100px;
}
